<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tech4Care</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!-- Brand navigates to the hero section of the homepage -->
                <a class="navbar-brand" href="/account">Tech4Care</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/tasksoverview">Agenda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mypatients">Patiënten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/transportoverview">Vervoer</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn ms-2" style="background-color: #3A4C51; border-color: #3A4C51; color: white;" href="/account">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main page content -->
    <div class="container">
        @RenderBody()
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    @RenderSection("Scripts", required: false)
</body>
</html>
