@page
@model casus_ouderenzorg.Pages.Patients.mypatientsModel
@{
    Layout = "_Layout";
}
<h2>Patients for Caregiver #1</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Geboortedatum</th>
            <th>Locatie</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model.Patients)
        {
            <tr>
                <td>@patient.Name</td>
                <td>@(patient.DateOfBirth.HasValue ? patient.DateOfBirth.Value.ToString("dd MMM yyyy") : "—")</td>
                <td>@patient.Location?.Name</td>
                <td>
                    <a href="/patientdetails/@patient.PatientID" class="btn btn-info">More Info</a>

                </td>
            </tr>
        }
    </tbody>
</table>